
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-family: 'Roboto Flex', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  width: 100dvw;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  scroll-behavior: smooth !important;
}

:root{
  overscroll-behavior: none;
}